*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	max-width: 100%;
	height: 100%;
}

body {
	font-family: 'Oxygen', sans-serif;
	background-color: #141414;
}

button {
	border: none;
	box-shadow: none;
}

footer {
	width: 100%;
	min-height: 272px;
	background: url('http://a.dilcdn.com/sw/footer/vader-ff1f82e6a5fc.jpg');
	background-color: #1A1A1A;
	background-position: top;
	background-repeat: no-repeat;
	margin-top: 3em;
}

footer h3 {
	color: #999;
	font-weight: 300;
	font-size: 0.9rem;
}

footer .fa {
	font-size: 2rem;
	margin-top: 0.5em;
}

footer a {
	color: #999;
	transition: all .3s ease-in-out;
}

footer a:hover {
	color: #555;
}

footer .footer-content {
	padding-top: 5em;
}

.container {
	max-width: 64em;
	margin: 0px auto;
}

.text-center {
	text-align: center;
}

.center {
	margin: 0px auto;
}

.nav-container {
	width: 100%;
	background: #222222;
	/*position: fixed;*/
	padding-top: .75em;
	height: auto;
	top: 0;
}

.nav-container .logo {
	background: url('http://a.dilcdn.com/sw/navigation/sw_logo_horiz-134953209f00.png');
	max-width: 365px;
	height: 37px;
    margin: 0px auto;
    margin-bottom: .75em;
}

.nav-list {
	background: #222;
}

.content {
	min-height: 586px;
	color: #D7D7D7;
}
.content h1 {
	font-size: 2.5rem
	font-weight: 300;
	font-family: 'Pontano Sans', sans-serif;
}

.content iframe {
	width: 100%;
}

.grid-container {
	width: 100%;
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
    flex-wrap: wrap;
}

[class*='grid-span-'] {
	padding: 1em;
}

[class*='grid-span-'] a {
	color: inherit;
	text-decoration: none;
}

[class*='grid-span-'] img, iframe {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

[class*='grid-span-'] .text {
	background: #282727;
	margin-top: -3px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 19px;
	padding: 1em;
	border-top: 1px solid #2F67F8;
}

[class*='grid-span-'] .text h1 {
	font-size: 1.5rem;
	text-align: left;
	line-height: 2em;
}

[class*='grid-span-'] .text p {
	color: #777;
	padding: .2em 0;
}

.video-search {
	margin: 0 1em;
	width: 97%;
	background: #3A3A3A;
	border: 1px solid #222;
	border-radius: 10px;
	display: flex;
}

.video-search input {
	width: 82%;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #222;
	color: #999;
}

.video-search-btn {
	width: 15%;
	background: #565656;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: white;
	outline: none;
	margin-left: 1.198em;
	word-wrap: break-word;
}

.video-search-btn:hover {
	background: #5C5C5C;
}

.video-search-btn:active {
	background: #555555;
}

.grid-span-full {
	width: 100%;
}

.grid-span-full-spec {
	background: url('img/forceawakens.png');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 30em;
}

.grid-item-small {
	width: 100%;
	background: #222;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 7.5em;
	padding: 1em;
	margin: .4em 0;
}

.latest-news {
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.4rem;
}

.latest-news:before {
	content: "";
	background: #666;
	height: 2px;
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.latest-news:after {
	content: "";
	background: #666;
	height: 2px;
	width: 100%;
	display: block;
	margin-top: 10px;
}

.video-links {
	width: 100%;
	display: flex;
	padding: .5em;
	padding-top: 10px;
}

.video-links a {
	color: #999;
	flex: 1;
	text-align: center;
	text-decoration: none;
	transition: all .3s ease-in-out;
	font-weight: 200;
	font-size: 0.9rem;
}

.video-links a:after {
	content: "";
	display: block;
	margin: 0px auto;
	position: relative;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: all .3s ease-in-out;
	margin-top: 5px;
}

.video-links a:hover:after {
	content: "";
	display: block;
	height: 2px;
	width: 70px;
	background: #E15021;
	margin: 0px auto;
	transition: all .3s ease-in-out;
	margin-top: 5px;
}

.grid-flex {
	width: 100%;
	display: flex;
	padding: 1em 1.4em;
}

.grid-flex-item {
	flex: 1;
	text-align: center;
	height: 25em;
	margin: 0 0.5em;
}

.grid-flex-item a {
	color: #FFF;
	text-decoration: none;
}

.grid-flex-item img {
	border-bottom: 1px solid #E15021;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.grid-flex-item p {
	padding: 1.5em;
	background: #222;
	margin-top: -10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

@media screen and (max-width: 968px) {
	.video-search {
		padding: .55em .5em;
	}

	.video-search input {
		padding: .5em .5em;
		font-size: 1rem;
	}

	.video-search-btn {
		padding: .4em 0em;
		font-size: 1rem;
	}

	.search-text {
		display: none;
	}

	.grid-span-half {
		width: 100%;
	}

	.grid-flex {
		/*display: none;*/
	}

	.grid-span-half h1 {
		font-size: 1.5rem;
	}

	h1 {
		font-size: 1rem !important;
	}

	.video-links a {
		font-size: 0.8rem !important;
	}

	.content iframe {
		height: 320px;
	}

	.nav-hide {
		display: none;
		max-height: 0;
	}

	.nav-show {
		display: block;
		max-height: 40em;
	}

	.nav-container .nav-list .container .nav-toggle {
		margin: 0px auto;
		width: 50px;
		cursor: pointer;
		height: 70px;
	}

	.nav-container .nav-list .container .nav-toggle .nav-button {
		background: white;
		height: 2.5px;
		width: 50px;
		margin: 10px 0;
		position: absolute;
        /*display: block;*/
		top: 75px;
		margin-top: 20px;
		transition: all .3s ease-in-out;
	}

	.nav-container .nav-list .container .nav-toggle .nav-button:before {
		content: "";
		background: white;
		height: 2.5px;
		width: 50px;
		top: -15px;
		position: absolute;
        /*display: block;*/
        transition: all .3s ease-in-out;
	}

	.nav-container .nav-list .container .nav-toggle .nav-button:after {
		content: "";
		background: white;
		height: 2.5px;
		width: 50px;
		bottom: -15px;
		position: absolute;
        /*display: block;*/
        transition: all .3s ease-in-out;
	}

	.active {
		background: transparent !important;
	}

	.active:before {
		background: rgb(55,132,214) !important;
		box-shadow: 0px 0px 10px #2B73DA;
		border-right: 10px solid silver;
		top: 0 !important;
		transform: rotate(45deg);
	}

	.active:after { 
		background: red !important;
		box-shadow: 0px 0px 10px #D6221A;
		border-left: 10px solid silver;
		bottom: 0 !important;
		transform: rotate(-45deg);
	}

	.nav-container .nav-list {
		width: 100%;
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
	}

	.nav-container .nav-list .container {
		height: auto;
	}

	.nav-container nav {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	    z-index: 3;
	}

	.nav-container nav ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style: none;
	}

	.nav-container nav ul li {
		padding: 1em;
		width: 100%;
		text-align: center;
	}

	.nav-container nav ul li a {
		padding: 1em;
		color: #666;
		text-decoration: none;
	}

	.nav-container nav ul li:hover, .nav-container nav ul li:active, .nav-container nav ul li:focus {
		background: #111;
	}
}

@media screen and (min-width: 969px) {
	.video-search {
		padding: .55em .8em;
	}

	.video-search input {
		padding: .5em .4em;
		font-size: 1.8rem;
	}

	.video-search-btn {
		padding: .8em .6em;
		font-size: 1.3rem;
	}

	.content {
		margin-top: 134px;
	}

	.grid-span-half h1 {
		font-size: 1.2rem !important;
	}

	.nav-container {
		position: fixed;
	}
	
	.grid-span-half {
		width: 50%;
	}

	.content iframe {
		height: 290px;
	}

	.grid-span-full iframe {
		height: 536px;
	}

	.nav-container .nav-list {
		display: block;
	}

	.nav-container .nav-list .container .nav-toggle {
		display: none;
	}

	.nav-container .nav-list {
		width: 100%;
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
	}

	.nav-container .nav-list .container {
		height: auto;
	}

	.nav-container nav {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		overflow: visible;
	    z-index: 2;
	}

	.nav-container nav ul {
		display: flex;
		align-items: center;
		list-style: none;
	}

	.nav-container nav ul li {
		flex: 1;
		border-right: 1px solid #333;
		border-left: 1px solid #333;
	}

	.nav-container .nav-list .container nav ul li a {
		/*background: pink;*/
		height: 70px;
		text-decoration: none;
		background: #222222;
		transition: all .3s ease-in-out;
		color: #666;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.nav-container .nav-list .container nav ul li a:hover {
		background: #111;
	}
}